/*.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    color: lightgray;
    width: 100%;
    background-color: white;

}
.header__logo{
    margin-left: 20px;
}
.header__search{
    display: flex;
    height: 40px;
    padding: 10px;
    align-items: center;
}
/*.header__searchcontainer{
    height: 25px;
    border: 1px solid white;
    border-radius: 4px;
    width: 500px;
    padding: 1%;
    margin-left: -15%;

}
.header__searchcontainer > input{
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
    width: 500px;
    height: 25px;
    margin-left: -17%;
    color: white;
    padding: 1%;
    padding-left: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header__searchcontainer > input :focus{
    outline: none;
}
.header__menuitems{
    margin-left: 48px;
    margin-right: 48px;
}
.header__menuitems a {
    color: black;
    font-weight: bold;
    padding: 0 10px;
    text-decoration:none;
}
.header__menuitems a:hover{
    color: green;
}



@media (max-width:768px){
    .header__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        color: lightgray;
        width: 120%;
    }
    .header__logo{
        margin-left: 20px;
    }
    .header__search{
        display: flex;
        height: 40px;
        padding: 10px;
        align-items: center;
    }
    /*.header__searchcontainer{
        height: 25px;
        border: 1px solid white;
        border-radius: 4px;
        width: 500px;
        padding: 1%;
        margin-left: -15%;
    
    }
    .header__searchcontainer > input{
        background-color: black;
        border: 1px solid white;
        border-radius: 4px;
        width: 500px;
        height: 25px;
        margin-left: -17%;
        color: white;
        padding: 1%;
        padding-left: 3%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .header__searchcontainer > input :focus{
        outline: none;
    }
    .header__menuitems{
        margin-left: 30px;
        margin-right: 30px;
    }
    .header__menuitems a {
        color: black;
        font-weight: bold;
        padding: 0 10px;
        text-decoration:none;
    }
    .header__menuitems a:hover{
        color: green;
    }
    
}



@media (max-width:468px){
    .header__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        color: lightgray;
        width: 80%;
    }
    .header__logo{
        margin-left: 20px;
    }
    .header__search{
        display: flex;
        height: 40px;
        padding: 10px;
        align-items: center;
    }
    /*.header__searchcontainer{
        height: 25px;
        border: 1px solid white;
        border-radius: 4px;
        width: 500px;
        padding: 1%;
        margin-left: -15%;
    
    }
    .header__searchcontainer > input{
        background-color: black;
        border: 1px solid white;
        border-radius: 4px;
        width: 500px;
        height: 25px;
        margin-left: -17%;
        color: black;
        padding: 1%;
        padding-left: 3%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .header__searchcontainer > input :focus{
        outline: none;
    }
    .header__menuitems{
        margin-left: 20px;
        margin-right: 20px;
    }
    .header__menuitems a {
        color: black;
        font-weight: bold;
        padding: 0 10px;
        text-decoration:none;
    }
    .header__menuitems a:hover{
        color: green;
    }
    


*/
/*}
@media(max-width: 470px){
    .header__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        color: lightgray;
        width: 200%;
    }
    .header__logo{
        margin-left: 20px;
    }
    .header__search{
        display: flex;
        height: 40px;
        padding: 10px;
        align-items: center;
    }
    /*.header__searchcontainer{
        height: 25px;
        border: 1px solid white;
        border-radius: 4px;
        width: 500px;
        padding: 1%;
        margin-left: -15%;
    
    }
    .header__searchcontainer > input{
        background-color: black;
        border: 1px solid white;
        border-radius: 4px;
        width: 500px;
        height: 25px;
        margin-left: -17%;
        color: black;
        padding: 1%;
        padding-left: 3%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .header__searchcontainer > input :focus{
        outline: none;
    }
    .header__menuitems{
        margin-left: 20px;
        margin-right: 20px;
    }
    .header__menuitems a {
        color: black;
        font-weight: bold;
        padding: 0 10px;
        text-decoration:none;
    }
    .header__menuitems a:hover{
        color: green;
    }
}*/


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.header__logo{
    color: white;
    float: left;
    margin-left: 5%;
}
.header__logo a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.header__logo a:hover{
    color: white;
}
.navbar{
    margin-top: 2%;
    
}
nav{
    position: fixed;
    height: 70px;
  width: 100%;
  background: black;
  
}
label .logo{
  color: #fff;
  font-size: 35px;
  line-height: 65px;
  padding: 0 100px;
  font-weight: bold;
  font-weight: 600;
}



.search {
   margin-right: 800px;
   margin-top: 10px;
  
   
}


nav ul{
    float: right;
    margin-right: 20px;
    margin-top: -40px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin-top:  -70px;
}
nav ul li a{
  color: white;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
    text-decoration: none;
}

a.active,a:hover{
    background: black;
    border: none;
    transition: .5s;
}
.checkbtn{
    margin-top: 0%;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    .header__logo{
        margin-top: 1%;
    }
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .imageheader{
        height: 50px;
        margin-top: 2.5%;
    }
    .header__logo{
        margin-top: 1.8%;
        color: white;
        float: left;
        margin-left: 5%;
    }
    .checkbtn{
        margin-top: 1%;
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 120vh;
        background: black;
        top: 80px;
        left:  100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background:none;
        color: white;
    }
    #check:checked ~ ul{
        margin-top: -2.3%;
        left: 0;
    }
}
@media(max-width:776px){
    .checkbtn{
        display: block;
    }
    /*.nav{
        width: 150%;
    }*/
    ul{
        position: fixed;
        width: 100%;
        height: 120vh;
        background:/* #2c3e50*/black;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background:none;
        color: white;
    }
    #check:checked ~ ul{
        margin-top: -3%;
        left: 0;
    }
}

@media(max-width:414px){
    .imageheader{
        height: 50px;
    }
    .header__logo{
        margin-top: 3.5%;
    }
    .checkbtn{
        display: block;
    }
    /*.nav{
        width: 150%;
    }*/
    ul{
        position: fixed;
        width: 100%;
        height: 120vh;
        background:/* #2c3e50*/black;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background:none;
        color: white;
    }
    #check:checked ~ ul{
        margin-top: -7.2%;
        left: 0;
    }
}